# Environnement virtuel
.venv/
venv/
env/

# Fichiers Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python

# Jupyter Notebook
.ipynb_checkpoints

# IDEs
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Données temporaires
*.tmp
*.log

# UV - fichier de config (gardé localement, non versionné pour Streamlit Cloud)
pyproject.toml

